*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

.banner{
    background: transparent;
    height: auto;
    padding: 10px 50px;
}

.banner hr{
    height: 1px;
    display: grid;
}
.banner a img{
    display: block;
    text-align: center;
    width: 100px;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.main .heading{
    text-align: center;
    display: block;
}

.pin label{
    display: block;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    
}

