*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

.banner{
    background: transparent;
    height: auto;
    padding: 50px 50px;
}

.banner h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.banner a img{
    display: block;
    text-align: center;
    width: 100px;
    margin: 0px auto;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}

