*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

img{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

.flex-box{
    background: #fff;
    padding-left: 17%;
    padding-right: 2%;
}

.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

.main .main-widget{
    display: block;
    font-size: 12px;
}

.more-icon{
    width: 100%;
}

.more-icon img{
    width: 5%;
    border-radius: 8px;
    padding-left: 10px;
    text-align: center;
}
